{% extends 'MicYcBundle:Default:layout.html.twig' %}

{% block content %}

	<div class="row-fluid">
		<div class="span3"></div>
		<div class="span6">
			<h1 class='text-center'>{{ search }}</h1>
			</form>
		</div>
		<div class="span3"></div>
	</div>
	
{% endblock content %}