{% extends 'MicYcBundle:Default:layout.html.twig' %}

{% block content %}

	<div class="row-fluid">
		<div class="span3"></div>
		<div class="span6">
			<h1 class='text-center' style='margin-bottom:30px;'>{{ search }}</h1>
			
			<section>
				<p class='text-left'>{{results|length}} result(s) found !</p>
				{% for product in results %}
					{{ include('MicYcBundle:Default:product.html.twig', { 'product': product }) }}
				{% endfor %}
			</section>
		</div>
		<div class="span3"></div>
	</div>
	
{% endblock content %}